

<!--////////////////////slideshow////////////////////////////-->

<div id="slideshow">
 <div id="container">
  <div id="example">
   <div id="slides">
	<div id="script" class="pics" style="position: relative; width: 570px; height: 270px;">
            <img src="<%= asset_path('slide-1.jpg') %>" width="570" height="270" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 570px; height: 270px;">
            <img src="<%= asset_path('slide-2.jpg') %>" width="570" height="270" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 570px; height: 270px;">
            <img src="<%= asset_path('slide-3.jpg') %>" width="570" height="270" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1; width: 570px; height: 270px;">
    </div>
   
    <!-- end script -->
    
    	<!-- arrows -->
    	<div class="nav">
		<a href="/" id="prev2" class="prev">
        <img src="<%= asset_path('arrow-prev.png') %>" width="24" height="43" alt="Arrow Prev">
        </a>
		<a href="/" id="next2" class="next">
        <img src="<%= asset_path('arrow-next.png') %>" width="24" height="43" alt="Arrow Next">
        </a>
        </div>
   		<!-- arrows -->
        
   </div><!-- end slides -->
		<img id="frame" src="<%= asset_path('example-frame.png') %>" width="739" height="341" alt="Example Frame">
  </div><!-- end example -->
 </div><!-- end container -->
</div><!-- end slideshow -->

<!--/////////////////////content/////////////////////////////-->

<div id="body-bottom">
<div id="wrapper2">
	<table id="table-spacing">
	<tbody><tr><td id="left-column">
		<div class="ribbon-wrapper">
		<div class="ribbon-front">
        
<h1 id="pagelime_mission" class="editable">Our Mission</h1>

		</div><!-- ribbon-front -->
			<div class="ribbon-edge-topleft"></div>
			<div class="ribbon-edge-topright"></div>
			<div class="ribbon-edge-bottomleft"></div>
			<div class="ribbon-edge-bottomright"></div>
			<div class="ribbon-back-left"></div>
			<div class="ribbon-back-right"></div>
		</div><!-- ribbon-wrapper -->
			
            
 			<p id="our-mission" class="editable">The Accounting Club is dedicated to improving the academic experience for all accounting students at NEIU. Whether you're preparing for the CPA exam or taking your first accounting class, our goal is to provide resources that will benefit your professional career.<br><br>Our focus this year is to link recruiters to proficient students that are looking for experience in the accounting field. We are planning to host networking events, informational seminars with accountants, and social outings. We encourage students to make the most of their experience at NEIU by taking part in making this a more effective and efficient year.</p>
	</td>
	<td id="right-column">

		<div class="zibbon-wrapper">
		<div class="zibbon-front">
            
<h1 id="pagelime_important" class="editable">Important Links</h1>

		</div><!-- zibbon-front -->
            
	<!-- Link List CSS3 -->
	<ul class="ca-menu">
    
    <li><span class="ca-icon">K</span>
	<div class="ca-content"><h2 id="list_1" class="ca-main editable"><a href="http://www.neiu.edu/~acctclub/register.php">Ladder Up Session Sign-Up</a></h2></div></li>
    
	<li><span class="ca-icon">K</span>
	<div class="ca-content"><h2 id="list_2" class="ca-main editable"><a href="http://www.ilboa.org/">Illinois Board of Examiners</a></h2></div></li>
    
	<li><span class="ca-icon">K</span>
	<div class="ca-content"><h2 id="list_3" class="ca-main editable"><a href="http://www.aicpa.org/Pages/Default.aspx">AICPA</a></h2></div></li>
    
	<li><span class="ca-icon">K</span>
	<div class="ca-content"><h2 id="list_4" class="ca-main editable"><a href="http://www.goladderup.org/">Ladder Up</a></h2></div></li>
    
	<li><span class="ca-icon">K</span>
	<div class="ca-content"><h2 id="list_5" class="ca-main editable"><a href="http://www.becker.com/accounting/cpaexamreview/"> Becker CPA Review</a></h2></div></li>
    
	<li id="list_6" class="cms-repeat"><span class="ca-icon">K</span>
<div class="ca-content">
<h2 id="rep_1" class="ca-main editable"><a href="http://www.schweser.com/cpa/"> Kaplan CPA Review</a></h2>
</div>
</li>
    
	</ul>
	<!-- Link List CSS3 -->
            
	</div></td>
	</tr></tbody></table>
  		</div><!-- end zibbon-wrapper -->
</div><!-- end body-bottom -->  

